<!-- Pokemon Selection Screen -->
<div class="selection-screen" id="selection-screen" style="display: none">
  <h2>Choose your Pokemon</h2>
  <%= image_tag "big_bulbasaur.png", id: "bulbasaur", class: "pokemon-selection" %>
  <%= image_tag "big_charmander.png", id: "charmander", class: "pokemon-selection" %>
  <%= image_tag "big_pikachu.png", id: "pikachu", class: "pokemon-selection" %>
  <%= image_tag "big_squirtle.png", id: "squirtle", class: "pokemon-selection" %>
</div>
