<%= javascript_include_tag 'fights/chat', 'data-turbolinks-track' => true %>

<ul id="chat"></ul>

<form id="form" action="#" method="post" style="position: absolute; bottom: 0">
  <input type="text" id="message">
  <input type="submit" value="Send message">
</form>

