<%= javascript_include_tag 'fights/chat', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'player', 'data-turbolinks-track' => true %>

<h3>Users: Click to Challenge</h3>
<div class="container">
  <p>Current Users</p>
  <ul id="users"></ul>
</div>

<ul id="chat"></ul>

<form id="user_name" action="#" method="post" style="position: absolute; bottom: 0">
  <input type="text" id="screen_name" placeholder="screen name">
  <input type="submit" value="Submit">
</form>

<form hidden id="message_text" action="#" method="post" style="position: absolute; bottom: 0">
  <input type="text" id="message" placeholder="message">
  <input type="submit" value="Send">
</form>

