<%= javascript_include_tag 'fights/chat', 'data-turbolinks-track' => true %>

<h3>Pokémon LIVE!</h3>

<div class="lobby">

  <div class="lobby-messages">
    <ul class="lobby-list" id="chat"></ul>
  </div>

  <div class="lobby-users">
    <p>Current Users</p>
    <ul class="lobby-list" id="users"></ul>
  </div>

  <form class="lobby-form" id="user_name" action="#" method="post">
    <input type="text" id="screen_name" placeholder="screen name">
    <input type="submit" value="Submit">
  </form>

  <form hidden class="lobby-form" id="message_text" action="#" method="post">
    <input type="text" id="message" placeholder="message">
    <input type="submit" value="Send">
  </form>
</div>
