<h1>Welcome to the Pokemon Game</h1>

<div>
  <div id="otherpoke" class="poke-box">
    <%= image_tag("bulbasaur/bulba_back.gif") %>
    <div class="poke-deck"></div>
  </div>

  <div id="otherhealth" class="health">
    <progress id="otherhealthbar" value="100" max="100"></progress>
  </div>
  <button id="poo3">Tackle</button>


  <div id="pooke" class="poke-box">
    <%= image_tag("bulbasaur/bulba_still.gif") %>
  </div>

  <div id="pookehealth" class="health">
    <progress id="pookehealthbar" value="100" max="100"></progress>
  </div>
  <button id="poo">Attack</button>

  <div id="music">
    <%= audio_tag("audios/#{@song}", autoplay: true, controls: true, loop: true) %>
  </div>

<fieldset>
  <legend id="pokemon-1-legend">Pokemon 1</legend>
  <label>
    Name:
    <input type="text" name="name" id="pokemon-1-name" readonly="readonly">
    Health:
    <input type="text" name="health" id="pokemon-1-health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="pokemon-1-attack" readonly="readonly">
    <button type="submit" class="submit" id="attack">Attack</button>
  </label>
</fieldset>

<fieldset>
  <legend id="pokemon-2-legend">Pokemon 2</legend>
  <label>
    Name:
    <input type="text" name="name" id="pokemon-2-name" readonly="readonly">
    Health:
    <input type="text" name="health" id="pokemon-2-health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="pokemon-2-attack" readonly="readonly">
  </label>
</fieldset>

<script>
  $(document).ready(function() {
    var pokemonList = Pokemon.prototype.pokemonList;

    for ( var i = 0; i < 2; i++ ) {
      var pokemon = pokemonList[i];
      var id = i + 1;

      $( "#pokemon-" + id + "-legend" ).text( pokemon.name );
      $( "#pokemon-" + id + "-name" ).val( pokemon.name );
      $( "#pokemon-" + id + "-health" ).val( pokemon.health );
      $( "#pokemon-" + id + "-attack" ).val( pokemon.attackStat );
    }
  });
</script>

<script>
  $(function() {
    var player = new Player();
  });
</script>

<%= javascript_include_tag "fights/battle_view" %>
