<h1>Welcome to the Pokemon Game</h1>

<fieldset class="1">
  <legend>Pokemon 1</legend>
  <label>
    Name:
    <input type="text" name="name" id="name">
    Health:
    <input type="text" name="health" id="health">
    Attack:
    <input type="text" name="attack" id="attack">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

<fieldset class="2">
  <legend>Pokemon 2</legend>
  <label>
    Name:
    <input type="text" name="name" id="name">
    Health:
    <input type="text" name="health" id="health">
    Attack:
    <input type="text" name="attack" id="attack">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

