<h1>Welcome to the Pokemon Game</h1>

<fieldset class="">
  <legend>Choose your pokemon</legend>
  <ul>
    Name:
    <input type="text" name="name" id="name" readonly="readonly">
    Health:
    <input type="text" name="health" id="health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </ul>
</fieldset>


<fieldset class="1">
  <legend>Pokemon 1</legend>
  <label>
    Name:
    <input type="text" name="name" id="name" readonly="readonly">
    Health:
    <input type="text" name="health" id="health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

<fieldset class="2">
  <legend>Pokemon 2</legend>
  <label>
    Name:
    <input type="text" name="name" id="name" readonly="readonly">
    Health:
    <input type="text" name="health" id="health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

