
<div class="screen">
  <!-- My Pokemon Stats  -->
  <div class="stats my-stats">
    <div class="stats-outer">
      <div class="stats-inner">
        <div class="my-health">
          <progress class="my-healthbar" value="100" max="100"></progress>
        </div>
        <p>Player 1</p>
        <p>X Remaining</p>
      </div>
    </div>
    <!-- My Pokemon -->
    <div class="pokemon my-pokemon">
      <%= image_tag("bulbasaur/bulba_back_resize.gif") %>
      <div class="poke-deck"></div>
    </div>
  </div>
  <!-- Opponent Pokemon Stats -->
  <div class="stats their-stats">
    <!-- Opponent Pokemon -->
    <div class="pokemon their-pokemon">
      <%= image_tag("bulbasaur/bulba_front_resize.gif") %>
      <div class="poke-deck"></div>
    </div>
    <div class="stats-outer">
      <div class="stats-inner">
        <div class="their-health">
          <progress class="their-healthbar" value="100" max="100"></progress>
        </div>
        <p>Player 2</p>
        <p>Y Remaining</p>
      </div>
    </div>
  </div>
  <!-- Bottom Console -->
  <div class="console">
    <div class="console-outer">
      <div class="console-inner">
        <p>Richurtle used <br>Wine Gun!</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <button class="attack">Tackle</button>
  <!-- Media Controls -->
  <div class="banner">
    <div class="music">
      <%= audio_tag("#{@song}", autoplay: true, controls: true, loop: true) %>
    </div>
  </div>
</div>
<%= javascript_include_tag "fights/battle_view" %>
<script>
  // $(function() {
    var player = new Player();
  // });
</script>


