<h1>Welcome to the Pokemon Game</h1>

<fieldset class="">
  <legend>Choose your pokemon</legend>
  <ul>
    Name:
    <input type="text" name="name" id="name" readonly="readonly">
    Health:
    <input type="text" name="health" id="health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </ul>
</fieldset>


<fieldset>
  <legend id="pokemon-1-legend">Pokemon 1</legend>
  <label>
    Name:
    <input type="text" name="name" id="pokemon-1-name" readonly="readonly">
    Health:
    <input type="text" name="health" id="pokemon-1-health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="pokemon-1-attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

<fieldset>
  <legend id="pokemon-2-legend">Pokemon 2</legend>
  <label>
    Name:
    <input type="text" name="name" id="pokemon-2-name" readonly="readonly">
    Health:
    <input type="text" name="health" id="pokemon-2-health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="pokemon-2-attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

<script>
  $(function() {
    var self;     // connection ID of user
    var opponent; // connection ID of opponent

    // Get hostname & open a websocket
    var host = location.host;
    var dispatcher = new WebSocketRails( host + "/websocket" );

    // Get room ID and subscribe to the channel
    var roomID = location.pathname.split( "/fights/" )[1];
    var game = dispatcher.subscribe_private( roomID );

    // When both players have joined the battle
    // Get the opponent's ID
    game.bind( "ready", function( data ) {
      opponent = data[0] === self ? data[1] : data[0];
      console.log( "This is my opponent: " + opponent );
      console.log( "Both players are ready to play." );
    });

    dispatcher.on_open = function( data ) {
      self = data.connection_id;
      console.log( "Connection has been established: ", self );
    };

    game.on_success = function( data ) {
      console.log( "You have successfully joined the game.");

    };

  });
</script>