<h1>Welcome to the Pokemon Game</h1>

<div>
  <div class="otherpoke poke-box">
    <%= image_tag("bulbasaur/bulba_back.gif") %>

    <div class="poke-deck"></div>
  </div>

  <div class="otherhealth health">
    <progress class="otherhealthbar" value="100" max="100"></progress>
  </div>
  <button class="attack">Tackle</button>


  <div class="poke poke-box">
    <%= image_tag("bulbasaur/bulba_still.gif") %>
  </div>

  <div class="pokehealth health">
    <progress class="pookehealthbar" value="100" max="100"></progress>
  </div>
  <button class="attacked">Attack</button>

  <div class="music">
    <%= audio_tag("#{@song}", autoplay: true, controls: true) %>
  </div>

<fieldset>
  <legend class="pokemon-1-legend">Pokemon 1</legend>
  <label>
    Name:
    <input type="text" name="name" class="pokemon-1-name" readonly="readonly">
    Health:
    <input type="text" name="health" class="pokemon-1-health" readonly="readonly">
    Attack:
    <input type="text" name="attack" class="pokemon-1-attack" readonly="readonly">
    <button type="submit" class="submit" class="attack">Attack</button>
  </label>
</fieldset>

<fieldset>
  <legend class="pokemon-2-legend">Pokemon 2</legend>
  <label>
    Name:
    <input type="text" name="name" class="pokemon-2-name" readonly="readonly">
    Health:
    <input type="text" name="health" class="pokemon-2-health" readonly="readonly">
    Attack:
    <input type="text" name="attack" class="pokemon-2-attack" readonly="readonly">
  </label>
</fieldset>

<script>
  $(document).ready(function() {
    var pokemonList = Pokemon.prototype.pokemonList;

    for ( var i = 0; i < 2; i++ ) {
      var pokemon = pokemonList[i];
      var class = i + 1;

      $( "#pokemon-" + class + "-legend" ).text( pokemon.name );
      $( "#pokemon-" + class + "-name" ).val( pokemon.name );
      $( "#pokemon-" + class + "-health" ).val( pokemon.health );
      $( "#pokemon-" + class + "-attack" ).val( pokemon.attackStat );
    }
  });
</script>

<script>
  $(function() {
    var player = new Player();
  });
</script>

<%= javascript_include_tag "fights/battle_view" %>
