<h1>Welcome to the Pokemon Game</h1>

<fieldset class="">
  <legend>Choose your pokemon</legend>
  <ul>
    Name:
    <input type="text" name="name" id="name" readonly="readonly">
    Health:
    <input type="text" name="health" id="health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </ul>
</fieldset>


<fieldset class="1">
  <legend>Pokemon 1</legend>
  <label>
    Name:
    <input type="text" name="name" id="name" readonly="readonly">
    Health:
    <input type="text" name="health" id="health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

<fieldset class="2">
  <legend>Pokemon 2</legend>
  <label>
    Name:
    <input type="text" name="name" id="name" readonly="readonly">
    Health:
    <input type="text" name="health" id="health" readonly="readonly">
    Attack:
    <input type="text" name="attack" id="attack" readonly="readonly">
    <input type="submit" class="submit" value="Attack">
  </label>
</fieldset>

<script>
  $(function() {
    // Get hostname & open a websocket
    var host = location.host;
    var dispatcher = new WebSocketRails( host + "/websocket" );

    // Get room ID and subscribe to the channel
    var roomID = location.pathname.split( "/fights/" )[1];
    var game = dispatcher.subscribe_private( roomID );

    game.bind( "ready", function() {
      console.log( "Both players are ready to play." );
    });

    dispatcher.on_open = function(data) {
      console.log( "Connection has been established: ", data);
    };

    game.on_success = function() {
      console.log( "You have successfully joined the game.");
    };

  });
</script>