@font-face {
    font-family: 'pokemon_gbregular';
    src: asset-url('pokemon_gb-webfont.eot');
    src: asset-url('pokemon_gb-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('pokemon_gb-webfont.woff') format('woff'),
         asset-url('pokemon_gb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
