
.gameboy {
  background: url("gb_bg_trans2.png") no-repeat;
  background-color: #e6e6e6;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  display: block;
  height: 100%;
  margin: 25px auto 0 auto;
  padding: 50px 0 0 0;
  width: 933px;
}

.gameboy-screen {
  background-color: gray;
  border-radius: 30px 30px 130px 30px;
  display: block;
  margin: 65px auto;
  height: 600px;
  width: 900px;
}

/* Blinking Dot */
body { background: #0ff; }
@-webkit-keyframes 'blink' {
    0% { background: rgba(255,0,0,1); }
    50% { background: rgba(255,0,0,0.3); }
    100% { background: rgba(255,0,0,1); }
}
#animate {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: relative;
  left: 16px;
  top: 109px;
}
.cssanimations #animate {
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease;
}
/* Blinking dot */
