
#chat,
#users {
  list-style-type: none; margin: 0; padding: 0;
   }

  #chat li,
  #users li {
    border-bottom: 1px solid #0F380C;
    font-family: 'pokemon_gbregular';
    margin: 5px 0;
    color: #0F380C;

  }

  .lobby {
   background-color: olive;
  }

  // Lists, e.g. chat history and current users
  .lobby-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #0F380C;
      color: #0F380C;
      font-weight: 700;
      margin: 5px 0;
    }

    li:last-child {
      border-bottom: none;
    }
  }

  // Chat message pane
  .lobby-messages {
    border-right: 1px solid black;
    color: #0F380C;
    float: left;
    margin-bottom: 5px;
    max-height: 550px;
    min-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 74%;
  }

  // Current user pane
  .lobby-users {
    float: right;
    text-align: center;
    width: 25%;
  }

  // Forms, e.g. chat message & screen name selection
  .lobby-form {
    padding: 3px;

    input[type='text'] {
      height: 25px;
      width: 90%;
    }

}


// Maybe Pokemon Font
// @font-face {
//     font-family: 'pokemon_gbregular';
//     src: url('/assets/fonts/pokemongb-webfont.eot');
//     src: url('/assets/fonts/pokemongb-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/assets/fonts/pokemongb-webfont.woff') format('woff'),
//          url('/assets/fonts/pokemongb-webfont.ttf') format('truetype'),
//          url('/assets/fonts/pokemongb-webfont.svg#pokemon_gbregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }
