
.lobby {
 background: url('gb_display.png') no-repeat;
 background-size: cover;
 color: #97BB46;
}

// Lists, e.g. chat history and current users
.lobby-list {
  list-style-type: none;
  margin: 0;
  padding: 3px;

  li {
    color: #97BB46;
    font-weight: 700;
    margin: 0 0 10px 0;
  }

  li:last-child {
    border-bottom: none;
  }
}

#prompt {
  padding-left: 4px;
}

#logged_in {
  list-style-type: none;
  padding-left: 4px;
}

// Chat message pane
.lobby-messages {
  color: #97BB46;
  float: left;
  height: 420px;
  margin-bottom:5px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 74%;
}

// Current user pane
.lobby-users {
  border-left: 1px solid #0F380C;
  float: right;
  height: 459px;
  max-height: 459px;
  overflow: scroll;
  text-align: center;
  width: 25.75%
}

// Forms, e.g. chat message & screen name selection
.lobby-form {
  padding: 0 5px;

  input {
    border: none;
    font-family: 'pokemon_gbregular';
    height: 25px;
    margin: 5px 0 5px -10px;
    width: 100px
  }

  input[type='text'] {
    height: 25px;
    margin-left: 0;
    padding: 0 2px;
    width: 60%;
  }
}
