body {
  background: black;
  font-family: 'Source Code Pro';
}

button {
  width: 48%;
}

  .container {
    background: grey;
    display: block;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
  }

  .inner {
    display: block;
    height: 100%;
    margin: 0 auto;
    min-height: 500px;
    padding: 0;
    overflow: hidden;

    p {
      margin: 15px 20px;
    }

  }

  .screen {
    display: block;
    overflow: auto;
    width: 100%;
  }

  .banner {
    background: black;
    display: block;
    margin: 0 auto;
    max-height: 100px;
    overflow: auto;
    width: 100%;
  }

  .stats {
    display: inline-block;
    margin: 0;
    width: 50%;
  }

  .stats-outer {
    background: #d4433a;
    border-radius: 14px 16px;
    margin: 4px 10px;
    max-width: 400px;
    padding: 1px 10px;
  }

  .stats-inner {
    background: #6ea1a3;
    border-radius: 12px 14px;
    height: 102px;
    margin: 2px;
    padding: 2px;

    p {
      color: white;
      font-size: 14px;
      line-height: 16px;
      margin: 5px;
    }
  }

    .health-bar {
      display: block;
      margin: 5px auto;
      width: 98%;
    }

    .my-stats {
      float: left;
    }

    .their-stats {
      float: right;
      width: 100%;
    }

  .my-pokemon {

    img {
      display: block;
      margin: 80px auto 0 auto;
      width: 250px;
    }

  }

  .their-pokemon {

    img {
      display: block;
      margin: 40px auto 95px auto;
      width: 100px;
    }

  }

  .console {
    background: #474057;
    bottom: 0;
    display: block;
    font-size: 28px;
    height: 120px;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    z-index: 300;
  }

  .console-outer {
    background: #d4433a;
    border-radius: 14px 16px;
    margin: 4px 10px;
    padding: 1px 10px;
  }

  .console-inner {
    background: #6ea1a3;
    border-radius: 12px 14px;
    color: white;
    height: 102px;
    margin: 2px;
    padding: 2px;
  }
