<!DOCTYPE html>
<html>
<head>
  <title>RealTimeApp</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="inner">
    <!-- Top Banner -->
    <div class="banner">
      <img style="max-width: 200px;" src="http://i.imgur.com/OZqvoEu.png" alt="">
    </div>
    <%= yield %>
  </div>
</div>

</body>
</html>
